# Welcome to CodeBook – Your Data Science Internship Begins!

## **Introduction**
Congratulations! You have just been hired as a **Data Scientist Intern** at **CodeBook – The Social Media for Coders**. This Delhi based company is offering you a **₹10 LPA job** if you successfully complete this **1-month internship**. But before you get there, you must prove your skills using **only Python**—no pandas, NumPy, or fancy libraries!

Your manager Puneet Kumar has assigned you your **first task**: analyzing a data dump of CodeBook users using pure python. Your job is to **load and explore the data** to understand its structure.

---

## **Task 1: Load the User Data**
Your manager has given you a dataset containing information about CodeBook users, their connections (friends), and the pages they have liked.

This is how the data will look like (in JSON format):
```json
{
    "users": [
        {"id": 1, "name": "Amit", "friends": [2, 3], "liked_pages": [101]},
        {"id": 2, "name": "Priya", "friends": [1, 4], "liked_pages": [102]},
        {"id": 3, "name": "Rahul", "friends": [1], "liked_pages": [101, 103]},
        {"id": 4, "name": "Sara", "friends": [2], "liked_pages": [104]}
    ],
    "pages": [
        {"id": 101, "name": "Python Developers"},
        {"id": 102, "name": "Data Science Enthusiasts"},
        {"id": 103, "name": "AI & ML Community"},
        {"id": 104, "name": "Web Dev Hub"}
    ]
}
```
Read this data and understand its structure. The data contains three main components:
1. **Users**: Each user has an ID, name, a list of friends (by their IDs), and a list of liked pages (by their IDs).
2. **Pages**: Each page has an ID and a name.
3. **Connections**: Users can have multiple friends and can like multiple pages.

---

## **Task 2: Read and Display the Data using Python**
Your goal is to **load** this data and **print** it in a structured way. Use Python's built-in modules to accomplish this.

### **Steps:**
1. Save the JSON data in a file (`codebook_data.json`).
2. Read the JSON file using Python.
3. Print user details and their connections.
4. Print available pages.

---

## **Code Implementation**
Here's a simple way to load and display the data:

```python
import json

# Load the JSON file
def load_data(filename):
    with open(filename, "r") as file:
        data = json.load(file)
    return data

# Display users and their connections
def display_users(data):
    print("Users and Their Connections:\n")
    for user in data["users"]:
        print(f"{user['name']} (ID: {user['id']}) - Friends: {user['friends']} - Liked Pages: {user['liked_pages']}")
    print("\nPages:\n")
    for page in data["pages"]:
        print(f"{page['id']}: {page['name']}")

# Load and display the data
data = load_data("codebook_data.json")
display_users(data)
```

---

## **Expected Output:**
```
Users and Their Connections:
Amit (ID: 1) - Friends: [2, 3] - Liked Pages: [101]
Priya (ID: 2) - Friends: [1, 4] - Liked Pages: [102]
Rahul (ID: 3) - Friends: [1] - Liked Pages: [101, 103]
Sara (ID: 4) - Friends: [2] - Liked Pages: [104]

Pages:
101: Python Developers
102: Data Science Enthusiasts
103: AI & ML Community
104: Web Dev Hub
```

---

## **Next Steps**
Your manager is happy with your progress but says: **"The data looks messy. Can you clean and structure it better?"**

In [9]:
import json

def load_data(filename):
    with open(filename,"r") as f:
        data = json.load(f)
    return data

In [10]:
data = load_data("data.json")

In [11]:
data

{'users': [{'id': 1, 'name': 'Amit', 'friends': [2, 3], 'liked_pages': [101]},
  {'id': 2, 'name': 'Priya', 'friends': [1, 4], 'liked_pages': [102]},
  {'id': 3, 'name': 'Rahul', 'friends': [1], 'liked_pages': [101, 103]},
  {'id': 4, 'name': 'Sara', 'friends': [2], 'liked_pages': [104]}],
 'pages': [{'id': 101, 'name': 'Python Developers'},
  {'id': 102, 'name': 'Data Science Enthusiasts'},
  {'id': 103, 'name': 'AI & ML Community'},
  {'id': 104, 'name': 'Web Dev Hub'}]}

In [12]:
type(data)

dict

In [21]:
# write a function to display users and there connection

def display_users(data):
    print("users and connection\n")
    for user in data['users']:
        print(f"id:{user['id']}. {user['name']} is friends with : {user['friends']} and like pages are {user['liked_pages']}")
    print("\npages information")
    for page in data['pages']:
        print(f"{page['id']} : {page['name']}")

display_users(data)

users and connection

id:1. Amit is friends with : [2, 3] and like pages are [101]
id:2. Priya is friends with : [1, 4] and like pages are [102]
id:3. Rahul is friends with : [1] and like pages are [101, 103]
id:4. Sara is friends with : [2] and like pages are [104]

pages information
101 : Python Developers
102 : Data Science Enthusiasts
103 : AI & ML Community
104 : Web Dev Hub

# using pandas

In [1]:
import pandas as pd

In [9]:
import json

In [11]:
with open('data.json') as f:
    data = json.load(f)
data

{'users': [{'id': 1, 'name': 'Amit', 'friends': [2, 3], 'liked_pages': [101]},
  {'id': 2, 'name': 'Priya', 'friends': [1, 4], 'liked_pages': [102]},
  {'id': 3, 'name': 'Rahul', 'friends': [1], 'liked_pages': [101, 103]},
  {'id': 4, 'name': 'Sara', 'friends': [2], 'liked_pages': [104]}],
 'pages': [{'id': 101, 'name': 'Python Developers'},
  {'id': 102, 'name': 'Data Science Enthusiasts'},
  {'id': 103, 'name': 'AI & ML Community'},
  {'id': 104, 'name': 'Web Dev Hub'}]}

In [14]:
df1 = pd.json_normalize(data['users'])

In [15]:
df1

   id   name friends liked_pages
0   1   Amit  [2, 3]       [101]
1   2  Priya  [1, 4]       [102]
2   3  Rahul     [1]  [101, 103]
3   4   Sara     [2]       [104]

In [16]:
df2 = pd.json_normalize(data['pages'])

In [17]:
df2

    id                      name
0  101         Python Developers
1  102  Data Science Enthusiasts
2  103         AI & ML Community
3  104               Web Dev Hub